[Unit]
Description=SySS Lauschgerät
After=syslog.target

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Type=simple
User=root
Group=root
WorkingDirectory=/root
ExecStart=/usr/sbin/lauschgeraetd
SyslogIdentifier=lauschgerät
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
