{% extends "base.html" %}

{% block dashboard_class %}active{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block main %}

<div class="col">

    <h3>Client interface: <code>{{ clif }}</code></h3>
    <h3>Switch interface: <code>{{ swif }}</code></h3>

<div class="card mb-3">
    <h5 class="card-header"><code>$ ip route</code></h5>
    <div class="card-body">
        <pre><code>{{ ipconfig["iproute"] }}</code></pre>
    </div>
</div>

<div class="card mb-3">
    <h5 class="card-header"><code>$ ip address show</code></h5>
    <div class="card-body">
        <pre><code>{{ ipconfig["ipaddr"] }}</code></pre>
    </div>
</div>

<div class="card mb-3">
    <h5 class="card-header"><code>$ ss -ntulp</code></h5>
    <div class="card-body">
        <pre><code>{{ ipconfig["ss"] }}</code></pre>
    </div>
</div>
</div>

{% endblock %}
