{% extends "base.html" %}

{% block dashboard_class %}active{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block main %}

    <div class="row">
      <div class="col-6">
        <h2>eth1</h2>
        <pre>
{{ ipconfig["iface1"] }}
        </pre>
      </div>
      <div class="col-6">
        <h2>eth2</h2>
        <pre>
{{ ipconfig["iface1"] }}
        </pre>
      </div>
    </div>

    <div class="col">
        <h2>ip route</h2>
      <pre>
{{ ipconfig["iproute"] }}
      </pre>
    </div>
{% endblock %}
