{% extends "base.html" %}

{% block mitm_class %}active{% endblock %}
{% block title %}Man in the Middle
<a href="#" title="What's this?" data-toggle="popover"
data-trigger="focus" data-content="This page lets you view and modify all
iptables rules that divert traffic. For instance, you can divert all
traffic to port 80/tcp from the client to a local HTTP service that strips
SSL."><span data-feather="help-circle"></span></a>
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-striped table-sm" id='iptables-table'>
          <thead>
            <tr>
              <th>#</th>
              <th>Protocol</th>
              <th>Port</th>
              <th>Old Destination</th>
              <th>New Destination</th>
              <th style='width: 40px'>Actions</th>
            </tr>
          </thead>
          <tbody> {% for r in rules %}
            <tr id="rule-{{r.num}}">
              <td>{{r.num}}</td>
              <td class='editable'>{{r.prot}}</td>
              <td class='editable'>{{r.port}}</td>
              <td class='editable'>{{r.destination}}</td>
              <td class='editable'>{{r.extension}}</td>
              <td>
              <a href='#' class="nav-item edit-iptables-rule" title='Edit'><span data-feather="edit-2"></span></a>
              <a href='#' class="nav-item delete-iptables-rule" title='Delete'><span data-feather="trash-2"></span></a>
              </td>
            </tr> {% endfor %}
          </tbody>
        </table>
      </div>

    <div class="row mb-3">
        <div class="col-12">
            <a href="#" class="nav-item float-right" id="add-iptables-rule">
                <span data-feather="plus-circle"></span>
            </a>
        </div>
    </div>
    <div class="card mb-3">
    <h5 class="card-header"><code>$ iptables -t nat -L -n -v</code>
           <button class="btn btn-link" data-toggle="collapse" data-target="#iptables-raw" aria-expanded="true" aria-controls="collapseOne">
          <span data-feather="chevrons-down"></span>
        </button>
    </h5>
    <div class="card-body collapse" id='iptables-raw'>
            <pre><code>{{ iptables_raw }}</code></pre>
        </div>
    </div>
{% endblock %}
