{% extends "base.html" %}

{% block mitm_class %}active{% endblock %}
{% block title %}Man in the Middle
<a href="#" title="What's this?" data-toggle="popover"
data-trigger="focus" data-content="This page lets you view and modify all
iptables rules that divert traffic. For instance, you can divert all
traffic to port 80/tcp from the client to a local HTTP service that strips
SSL."><span data-feather="help-circle"></span></a>
{% endblock %}

{% block main %}
    <div class="table-responsive">
      {% include "mitm-table.html" %}
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <a href="#" class="nav-item float-right" id="add-iptables-rule">
                <span data-feather="plus-circle"></span>
            </a>
        </div>
    </div>
    <div class="card mb-3">
    <h5 class="card-header"><code>$ iptables -t nat -L -n -v</code>
           <button class="btn btn-link" data-toggle="collapse" data-target="#iptables-raw" aria-expanded="true" aria-controls="collapseOne">
          <span data-feather="chevrons-down"></span>
        </button>
    </h5>
    <div class="card-body collapse" id='iptables-raw'>
            <pre><code>{{ iptables_raw }}</code></pre>
        </div>
    </div>
{% endblock %}
