{% extends "base.html" %}

{% block extras_class %}active{% endblock %}
{% block title %}Services
<a href="#" title="What's this?" data-toggle="popover"
data-trigger="focus" data-content="Here you can run and monitor services to
which you can divert traffic."><span data-feather="help-circle"></span></a>
{% endblock %}

{% block main %}
<div id='services'>
{% for service in services %}
    <div class="service card" id="service-{{loop.index}}" data-id='{{loop.index}}'>
        <div class="service-header card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom" id="service-header-{{loop.index}}">
            <h3 class="h3">
                {{service.properties.display_name.value}}
                {% if service.running() %}
                    <span class="badge badge-success">running
                        ({{service.pid()}})</span>
                {% endif %}
                </h3>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                {% if service.running() %}
                <button class="btn btn-sm btn-outline-danger"
                    onclick='stopservice({{loop.index}})'>Stop</button>
                {% else %}
                <button class="btn btn-sm btn-outline-success"
                        onclick='startservice({{loop.index}})'>Start</button>
                {% endif %}
              </div>
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary show-service-output"
                        href="/service-log?n={{loop.index}}"
                        data-remote="false"
                        data-target="#service-output-modal"
                        data-toggle="modal">Show Output</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#service-form-{{loop.index}}" aria-expanded="false" aria-controls="service-form-{{loop.index}}"> More <a href="#"><span data-feather="chevrons-down"></span></a>
              </button>
            </div>
        </div>
        <div class="service-form collapse card-body" id="service-form-{{loop.index}}"
             data-n='{{loop.index}}'>
            {% set outer_loop = loop %}
            <h4>Service Properties</h4>
               {% for name, p in service["properties"].items() %}
                    {% include "services-paramform.html" %}
               {% endfor %}
               <hr/>
            <h4>Command Line Parameters</h4>
            {% for name, p in service["parameters"].items() %}
                 {% include "services-paramform.html" %}
            {% endfor %}
            <div class="btn-toolbar justify-content-between"
                 role="toolbar" aria-label="Toolbar with button groups">
                 <div class="btn-group" role="group" aria-label="First group">
                    <button class="btn btn-primary"
                        data-action="updateargs">Update Command Line
                        Parameters</button>
                    <button class="btn btn-secondary" data-action="editjson">Edit JSON</button>
                </div>
                <div class="btn-group float-right" role="group" aria-label="Second group">
                {% if service.is_installed() %}
                    <button class="btn btn-success" data-action="update">Update</button>
                {% else %}
                    <button class="btn btn-danger" data-action="install">Install</button>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="modal fade"
     id='service-output-modal'
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" style='height: 80%'>
    <div class="modal-content" style='height: 80%'>
      <div class="modal-header">
        <h5 class="modal-title">Console Output</h5>
        <div class='ml-auto'>
          <button type="button" class="btn service-reload" title='Reload'><span data-feather="rotate-ccw"></span></button>
          <button type="button" class="btn service-scroll-down" title='Scroll down'><span data-feather="arrow-down"></span></button>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
      </div>
    </div>
  </div>
</div>

</div>{% endblock %}
