{% extends "base.html" %}

{% block shell_class %}active{% endblock %}

{% block title %}Shell{% endblock %}

{% block main %}

<textarea id="shell" cols="80" rows="20"
style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu
Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace; width:
100%;background-color: black;color:#00FF00;"></textarea>
<input id="text" size="80" placeholder=""
style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu
Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;width:100%;"><br><br>

{% endblock %}
