<div class="collapse navbar-collapse" id="navbarsExample03">
<ul class="navbar-nav mr-auto">
  <li class="nav-item container">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="ajax-switch custom-control-input" id="onoffswitch" {% if lgstate["enabled"] %}checked{% endif %}>
      <label class="custom-control-label nav-link active" for="onoffswitch">
          On/Off
      </label>
    </div>
  </li>
  <!--
  <li class="nav-item container {% if not lgstate["enabled"] %}disabled{% endif %}">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="ajax-switch custom-control-input {% if not lgstate["enabled"] %}disabled{% endif %}" id="recordswitch" {% if lgstate["recording"] %}checked{% endif %}>
      <label class="custom-control-label nav-link {% if lgstate["recording"] %}active{% endif %}" for="recordswitch">
          Recording
      </label>
    </div>
  </li>
  -->
  <li id='lg-status' class='nav-item dropdown {% if not lgstate["enabled"] %}disabled{% endif %}'>
    <a id='lg-mode' class='nav-link dropdown-toggle {% if not lgstate["enabled"] %}disabled{% endif %}'
        href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Mode</a>
    <div class="dropdown-menu" aria-labelledby="dropdown03">
        <a class='dropdown-item {% if lgstate["mode"]=="passive" %}active{%
        endif %}' href="#" onClick="setMode('passive')">Passive</a>
      <a class='dropdown-item {% if lgstate["mode"]=="active" %}active{%
      endif %}' href="#" onClick="setMode('active')">Active</a>
      <a class='dropdown-item {% if lgstate["mode"]=="wifi" %}active{% endif
      %}' href="#" onClick="setMode('wifi')">Wifi</a>
    </div>
  </li>
</ul>
</div>
