<div class="collapse navbar-collapse" id="navbarsExample03">
<ul class="navbar-nav mr-auto">
  <li class="nav-item container">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitches" {% if lgstate["enabled"] %}checked{% endif %}>
      <label class="custom-control-label nav-link {% if lgstate["enabled"] %}active{% endif %}" for="customSwitches">
          On/Off
      </label>
    </div>
  </li>
  <li class="nav-item dropdown disabled">
    <a class="nav-link dropdown-toggle disabled" href="http://example.com"
        id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Mode</a>
    <div class="dropdown-menu" aria-labelledby="dropdown03">
      <a class="dropdown-item" href="#">Passive</a>
      <a class="dropdown-item" href="#">Active</a>
      <a class="dropdown-item" href="#">Wifi</a>
    </div>
  </li>
</ul>
</div>
