<div class="collapse navbar-collapse" id="lg-status">
  <div class="navbar-nav">
    <div class="custom-control custom-switch container">
      <input type="checkbox" class="ajax-switch custom-control-input"
      {% if lgstate["wifi"] %}disabled{% endif %}
      {% if lgstate["enabled"] and not lgstate["wifi"] %}checked{% endif %}
      id="onoffswitch">
      <label class="custom-control-label nav-link
      {% if not (lgstate["wifi"] or lgstate["active"]) %}active{% endif %}" for="onoffswitch">
          On/Off
      </label>
    </div>

    <div class="custom-control custom-switch container form-inline">
      <input type="checkbox" class="ajax-switch custom-control-input btn-success"
      {% if lgstate["active"] %}checked{% endif %}
      {% if not lgstate["enabled"] or lgstate["wifi"]%}disabled{% endif %}
      id="activeswitch">
      <label class="custom-control-label nav-link
      {% if lgstate["enabled"] and not lgstate["wifi"] %}active{% endif %}" for="activeswitch">
          Passive/Active
      </label>
    </div>

    <div class="custom-control custom-switch container">
      <input type="checkbox" class="ajax-switch custom-control-input btn-warning"
      {% if lgstate["wifi"] %}checked{% endif %}
      {% if lgstate["active"] or lgstate["status"]=='passive' %}disabled{% endif %}
      id="wifiswitch">
      <label class="custom-control-label nav-link
      {% if not (lgstate["active"] or lgstate["status"]=='passive') %}active{% endif %}" for="wifiswitch">
          Wifi
      </label>
    </div>

    <div class="custom-control custom-switch container">
      <a class="nav-item nav-link text-nowrap active" href="#" tabindex="-1" aria-disabled="false" title="What's this?" data-toggle="popover"
data-trigger="focus" data-content="Here you can set the status of the
Lauschgerät. It can be disabled, passive, active or in wifi mode. In wifi
mode all clients in the wifi will be man-in-the-middled, so make sure to
control the Lauschgerät via LAN.">Status: {{lgstate["status"]}} <span data-feather="help-circle"></span></a>
    </div>
  </div>
</div>
